# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

.cproject
.project
cuda/nbody-block
cuda/nbody-ftz
cuda/nbody-orig
cuda/nbody-soa
cuda/nbody-unroll

